/* Start main rules */
body
{
    background-color: #ffffff;
}
/* End main rules */
.spacingOne
{
    display: flex; 
    justify-content: center;
}
.firstSec
{
    background-color: #0d6efd;
}

/* Start Make Transmission */
h1
{
    padding-top: 30px;
    color: #41594f;
    text-align: center;
}
table
{
    margin: 20px auto 50px;
    border:2px solid #b3d7ff;
    color: #41594f;
    text-align: center;
    box-shadow: -3px 5px 4px #b3d7d0; 
}
table tr th 
{
    height: 50px;
    width: 100px;
    border:2px solid #b3d7ff;
    font-size: 23px;
}
table tr td
{
    height: 50px;
    width: 100px;
    border:2px solid #b3d7ff;
    font-size: 17px;
}
/* End Make Transmission */

/*Start login form */
.login
{
    width: 300px;
    margin: 100px auto;
}
.login input
{
    margin-bottom: 15px;
}
.login .form-control
{
    background-color: #eaeaea;
}
/*End login form*/
/*Start Dashboard */
.stat 
{
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 15px;
}
.stat span
{
    font-size: 50px;
}

/*End Dashboard */
